.Nav {
    width: 100%;
    padding: 1rem 0;
}

#MobileNav {
    background-color: var(--secondary-btn);
}

#Nav {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 1rem;
    grid-row: 1;
    grid-column: span 3;
}

button#create {
    background-color: var(--primary-btn);
    grid-column: 3;
    max-width: 75%;
    width: 10rem;
    z-index: 1;
    font-weight: bold;
    color: white;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 100%;
    justify-self: center;
    transition: box-shadow 0.1s ease-in;
}

button#create:active {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}
