/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;700&display=swap");

:root {
  --text-color: #777777;
  --primary-btn: #FEA800;
  --secondary-btn: #006573;
  --tertiary-btn: #878B8C;
  --last-btn: #3D9B4F;
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3,
h4,
h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 200;
}

p,
li,
a,
input,
span {
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 300;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.25rem;
}