input[type="file"] {
    display: none;
}

#fileInputLabel > span {
    font-weight: bold;
    color: #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fileInputLabel > span:last-of-type {
    color: #86a6ff;
}

#dragAndDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    width: 100%;
    margin-top: 2rem;
    border: 2px dashed #777777;
    padding: 2rem 0;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.3s ease;
}

#dragAndDrop:hover {
    border: 2px dashed #86a6ff;
}

label > span.label {
    margin-left: 1rem;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25rem;
}

.labelContainer {
    margin-top: 4rem;
}

.imgContainer {
    max-width: 50px;
}

.mobile .headerContainer > h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    width: max-content;
    position: relative;
}

.mobile .headerContainer > h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    padding-right: 2rem;

    border-bottom: 2px solid var(--primary-btn);
}

#CreateStatus.mobile {
    padding: 2rem;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
