#Create.mobile {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: calc(100% - 4rem);
}

#Create.mobiler > .headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    margin-bottom: 2rem;
}

#Create.mobile > .headerContainer > h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    width: max-content;
    position: relative;
}

#Create.mobile > .headerContainer > h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    padding-right: 2rem;

    border-bottom: 2px solid var(--primary-btn);
}
