.DeleteJob .job {
    color: var(--primary-btn);
}

.DeleteJob.mobile {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.DeleteJob.mobile > .container > h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    padding-right: 2rem;

    border-bottom: 2px solid var(--primary-btn);
}

.DeleteJob.mobile > .container > h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    width: min-content;
    position: relative;
}
