#FilterDisplay {
    background-color: white;
    height: 3rem;
    max-width: 75%;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    padding: 0 1rem;
    grid-column: 1;
    grid-row: 3;
    z-index: 1;
    overflow: hidden;
}

#FilterDisplay > h3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: unset;
    justify-self: flex-end;
    gap: 0 1rem;
}

button#filterToggle {
    background-color: transparent;
}

button#filterToggle > img {
    transform: rotate(-180deg);
    width: 20px;
    transition: transform 0.3s ease-in;
}

button#filterToggle.show > img {
    transform: rotate(0deg);
    width: 20px;
}

#filters {
    display: none;
    height: 0;
}