.infobox {
    max-width: 95%;
    width: 20em;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.infobox > .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
    margin-bottom: 3rem;
}

.infobox > .header > h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: min-content;
    position: relative;
}

.infobox > .header > h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    padding-right: 2rem;

    border-bottom: 1px solid var(--primary-btn);
}

.infobox > .btnContainer {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 20% 40%;
    height: 7rem;
}

.infobox > .btnContainer > button {
    color: white;
    padding: 0.5rem 1rem;
    /* width: 7rem; */
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s ease-in;
}

.infobox > .btnContainer > button:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.infobox > .btnContainer > .imageBtn {
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid black;
    color: black;
    /* background-color: var(--primary-btn); */
}

.infobox > .btnContainer > .deleteBtn {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--secondary-btn);
}

.infobox > .btnContainer > .editBtn {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--last-btn);
}

.infobox a {
    text-decoration: none;
    color: black;
}

.infobox .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 2rem;
    margin-top: 1rem;
    width: 100%;
}
