.modal {
    grid-row: 1 / span 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    padding: 2rem;
    border-radius: 10px;
    max-width: 95%;
    width: 30rem;
}

.modal h1 {
    position: relative;
    width: max-content;
    text-align: left;
    margin: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal h1::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 3rem);
    content: " ";
    border-bottom: 3px solid var(--primary-btn);
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
